@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Droid+Sans');

html {
    scroll-behavior: smooth;
}

body {
    padding: 0;
    margin: 0;
    font-size: 20px;
    color: #2e2e2e;
    line-height: 1;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
}

* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    /* Firefox */
    outline: none;
}

a,
input[type="submit"] {
    outline: none !important;
    text-decoration: none;
    -webkit-transition: all .2s ease-in;
    -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -ms-transition: all .2s ease-in;
    transition: all .2s ease-in;
}

a:hover,
a:focus,
select:focus,
button:focus {
    outline: none;
    text-decoration: none;
}

* {
    margin: 0;
    padding: 0;
}

*:active,
*:focus {
    outline: none !important;
    box-shadow: none !important;
}

img {
    border: none;
    vertical-align: middle;
    max-width: 100%;
}

li {
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
input,
select,
textarea,
button {
    outline: none !important;
}

input,
textarea,
select {
    /*-moz-appearance: none; -webkit-appearance: none;*/
}


/***********  Top Part  ************/

:root {
    --my-orange: #f4921b;
    --my-black: #2e2e2e;
}

.header-social {
    background: #57575A;
    padding: 16px 0;
    display: block;
}

.header-social i {
    color: #fff;
    margin-right: 5px;
    font-size: 20px;
    transition: all 0.3s ease-in-out;
}

.header-social .content:hover i {
    color: var(--my-orange);
    transition: all 0.3s ease-in-out;
}

.header-social .block {
    display: flex;
    justify-content: space-between;
}

.header-social .content a {
    font-family: Montserrat;
    font-weight: normal;
    font-size: 17px;
    text-align: left;
    color: #fff;
}


/* header  */

.main-sec {
    position: relative;
}

header {
    padding: 35px 0 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1000;
    border-bottom: 1px solid rgba(255, 255, 255, .5);
}


/* The sticky class is added to the header with JS when it reaches its scroll position */

.sticky header {
    position: fixed;
    top: 0;
    width: 100%;
    /* padding: 0 !important; */
    padding-top: 0;
    background: url(../images/banner-bg-img.png) top center no-repeat;
    background: #e06b20;
    z-index: 9;
    box-shadow: 0px 0px 5px rgba(46, 46, 46, 0.5);
    border-bottom: none;
}


/* The sticky class is added to the header with JS when it reaches its scroll position */

.sticky .navbar-brand {
    margin-top: 13px;
}

.sticky .nav-link {
    padding: 35px 40px 40px;
}

.navbar {
    padding: 0;
}

.nav-link {
    font-weight: normal;
    font-size: 18px;
    color: #fff;
    text-transform: uppercase;
    padding-bottom: 60px;
    padding-top: 20px;
    border-bottom: 4px solid transparent;
}

.nav-link:hover,
.navbar-nav .active a {
    border-bottom: 4px solid #fff;
    color: #fff;
}

.navbar-nav {
    margin-top: 15px;
}

.navbar-nav li {
    margin-left: 20px;
}

p {
    font-weight: 500;
    font-size: 17px;
    line-height: 1.7;
    text-align: left;
    color: #57575a;
}

p:last-child {
    margin-bottom: 0;
}

h1 {
    font-size: 50px;
    line-height: 1.3;
    font-weight: 600;
    margin-bottom: 10px;
    color: #fff;
    text-transform: uppercase;
}

h1 span {
    font-weight: 700;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
    color: var(--my-black);
}

h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover,
h5 a:hover,
h6 a:hover {
    color: var(--my-black);
}

h2 {
    font-weight: 500;
    font-size: 35px;
    color: #000;
    text-transform: uppercase;
    margin-bottom: 50px;
}

h2 span {
    font-weight: 700;
}

h3 {
    font-family: Georgia;
    font-weight: normal;
    font-style: italic;
    font-size: 25px;
    line-height: 31px;
    text-align: center;
    color: #fff;
}

h4 {
    font-size: 30px;
    font-weight: 500;
    color: #000;
    text-transform: uppercase;
}

h5 {
    font-weight: bold;
    font-size: 21px;
    text-align: center;
    color: #000;
}

h6 {
    font-weight: bold;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    color: #57575a;
}

.yellow-sec h1::after,
.yellow-sec h2::after,
.yellow-sec h3::after,
.yellow-sec h4::after {
    background: linear-gradient(to left, #fff, var(--my-yellow));
}

.text-center h1::after,
.text-center h2::after,
.text-center h3::after,
.text-center h4::after {
    left: calc(50% - 55px);
}

.banner-sec {
    background: url(../images/banner-bg-img.png) top center no-repeat;
    padding: 300px 0 112px;
    position: relative;
}

.banner-sec p {
    font-weight: 500;
    font-size: 19px;
    line-height: 1.3;
    color: #fff;
    padding-right: 100px;
}

.banner-sec h1 {
    padding-bottom: 0;
}

.banner-sec h1::after {
    display: none;
}

.banner-sec img {
    border-radius: 47px 0px;
}

.banner-img-sec {
    background: url(../images/banner-img-shadow.png) bottom center no-repeat;
    padding-bottom: 60px;
    background-size: 100%;
    margin: -50px;
}

.btn-block {
    margin-top: 35px;
    margin-bottom: 35px;
}

.my-btn {
    padding: 12px 40px;
    border-radius: 23.5px;
    background: linear-gradient(to right, #f44e1b 0%, #f4881b 59.46%, #f4921b 100%);
    filter: drop-shadow(0px 3px 11px rgba(244, 146, 27, 0.68));
    text-transform: uppercase;
    font-weight: 500;
    font-size: 19px;
    color: #fff;
}

.banner-btn a {
    background: none;
    border: 1px solid #fff;
}

.my-btn:hover,
.my-btn:active {
    background: #fff;
    color: #f44e1b;
    box-shadow: none;
}

.top-logo-sec {
    margin: 20px 0 50px;
}

.top-logo-sec ul {
    display: flex;
    align-items: center;
    justify-content: center;
}

.top-logo-sec ul li {
    margin-right: 90px;
}

.top-logo-sec ul li:last-child {
    margin-right: 0;
}

.mission-sec {
    padding: 40px;
}

.img-col {
    position: relative;
}

.img-col img {
    border-radius: 47px 0 47px 0;
}

.img-bg {
    position: absolute;
    top: -33px;
    left: -28px;
    z-index: -1;
}

.img-bg img {
    border-radius: 73px 0 73px 0 !important;
}

.list-sec {
    padding: 105px 0 90px;
    background: url(../images/help-bg.png) top center no-repeat;
}

.list-sec .my-col {
    background: #fff;
    padding: 50px 30px;
    filter: drop-shadow(5px 6px 16px rgba(0, 0, 0, 0.09));
    border-radius: 14px;
    position: relative;
    transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    flex-basis: 31%;
    margin: auto;
}

.list-sec .my-col:hover {
    background: var(--my-orange) url(../images/box-overlay.png) top center no-repeat;
    color: #fff;
    transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
}

.list-sec .my-col:hover * {
    color: #fff;
}

.list-sec .block:hover:before,
.list-sec .block:hover:before {
    display: none;
}

.list-sec .block::before,
.list-sec .block::before {
    position: absolute;
    content: "";
    width: 95%;
    height: 3px;
    background: var(--my-orange);
    top: 0;
    left: 10px;
}

.list-sec .block {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.list-icon {
    background: #fafafa;
    border-radius: 50%;
    display: inline-block;
    padding: 22px;
    margin-bottom: 30px;
    border: 2px solid transparent;
    width: 111px;
    height: 111px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.list-sec .block:hover .list-icon,
.list-sec .block:hover .services-icon {
    background: #fff;
    border: 2px solid #fff;
}

.list-sec p {
    text-align: center;
}

.qoute-sec {
    display: flex;
    justify-content: space-evenly;
    background: linear-gradient(#070707 0%, #252525 150%);
    filter: drop-shadow(5px 6px 16px rgba(0, 0, 0, 0.09));
    margin-top: 70px;
    border-radius: 15px;
    padding: 70px 100px 40px;
}

.qoute-sec h6 {
    color: var(--my-orange);
    font-size: 17px;
}

.qoute-content {
    width: 75%;
}

.right-qoute {
    align-self: flex-end;
    padding-bottom: 40px;
}

.list-sec .row {
    justify-content: center;
}

.services-sec {
    padding: 0;
}

.services-sec h2 {
    position: relative;
    text-align: left;
    margin-bottom: 30px;
    margin-top: 0;
}

.services-sec h4 {
    font-weight: 500;
    font-size: 30px;
    margin-bottom: 20px;
    text-align: center;
}

.services-sec .row {
    margin-top: 30px;
    margin-bottom: 50px;
}

.services-sec .row:last-child {
    margin-bottom: 0px;
}

.services-sec h2::after {
    content: "";
    position: absolute;
    width: 73%;
    height: 1px;
    right: 0;
    top: 20px;
    background: rgb(0, 0, 0, 0.5);
}

.list-sec .row,
.list-sec p {
    text-align: center;
}

.list-sec h5 {
    font-weight: bold;
    font-size: 24px;
    text-align: center;
}

.load-btn {
    text-align: center;
    margin-top: 50px;
}

.services-sec .my-btn {
    padding: 12px 60px;
}

.load-btn a {
    text-transform: uppercase;
    color: black;
    font-weight: 600;
    font-size: 16px;
}

.stats-sec {
    padding: 105px 0;
    background: url(../images/stats-bg.png) top center no-repeat;
}

.stats-sec ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

.stats-sec h4 {
    font-weight: bold;
    font-size: 45px;
    line-height: 1.6;
    text-align: center;
    color: var(--my-orange);
}

.worked-sec .block {
    padding: 70px 80px 50px;
}

.worked-sec ul {
    display: flex;
    justify-content: space-evenly;
    padding-top: 10px;
    flex-wrap: wrap;
    align-items: center;
    padding: 10px 0;
    max-width: 850px;
    margin: auto;
}

.worked-sec ul li {
    width: 33.33%;
    margin-bottom: 20px;
    padding: 0 20px;
}

.we-sec {
    padding: 70px 0;
}

.we-sec h2 {
    margin-bottom: 30px;
}

.we-sec p {
    font-weight: 500;
    font-size: 17px;
    line-height: 30px;
    text-align: left;
    color: #57575a;
    width: 85%;
}

.more-btn {
    margin-top: 20px;
}

.more-btn a {
    font-weight: 600;
    text-transform: uppercase;
    font-size: 14px;
    color: #000;
}

.we-sec .img-col {
    text-align: end;
}

.we-sec .img-bg {
    left: 15px;
    top: -28px;
}

.team-sec {
    background: url(../images/team-sec-bg.png) top center no-repeat;
    padding-bottom: 70px;
}

.team-sec .row {
    box-shadow: 5px 6px 16px rgba(0, 0, 0, 0.09);
    border-radius: 15px;
    margin: 110px 0 150px;
    background: #fff;
}

.team-sec .my-row {
    margin-bottom: 80px;
}

.team-sec .img-sec-left {
    margin-left: -36px;
    position: relative;
}

.team-sec .img-sec-left img {
    border-radius: 47px 0 47px 0;
}

.team-sec .main-img-left {
    position: absolute;
    top: -60px;
    z-index: 2;
    left: 22px;
}

.team-sec .my-sec {
    text-align-last: left;
    align-self: center;
    padding: 60px 30px 60px 60px;
}

.team-sec h6 {
    text-transform: uppercase;
    color: var(--my-orange);
}

.team-sec .img-sec-right {
    position: relative;
    right: -20px;
}

.team-sec .img-sec-right img {
    border-radius: 0 47px 0 47px;
}

.team-sec .main-img-right {
    position: absolute;
    top: -60px;
    z-index: 2;
    right: 5px;
}


/* testimonials */

.testimonials-sec {
    padding: 80px 0;
    display: none;
}

.testimonial-slider {
    position: relative;
}

.tm-top {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.tm-title {
    margin-left: 40px;
}

.tm-title h4 {
    font-weight: bold;
    font-size: 25px;
    text-align: center;
    color: #000;
    text-transform: uppercase;
    position: relative;
    padding-bottom: 20px;
}

.tm-title h4::before {
    content: "";
    position: absolute;
    width: 47px;
    height: 3px;
    background: var(--my-orange);
    bottom: 0;
    left: 0;
}

.tm-title h6 {
    text-align: left;
}

.tm-content p {
    width: 70%;
    margin: 0 auto;
    text-align: center;
}

.owl-nav button span {
    font-size: 0;
}

.owl-nav button span::before,
.owl-nav button span::after {
    font-family: 'FontAwesome';
    font-size: 30px;
    padding: 0px 0px;
}

.owl-carousel .owl-nav button {
    position: absolute;
    top: 70px;
    width: 62px;
    height: 62px;
    border: 2px solid rgb(0, 0, 0, 0.7) !important;
    text-align: center;
    border-radius: 50%;
    font-family: 'FontAwesome';
    font-size: 25px;
    transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -webkit-transition: all 0.3s ease-in;
}

.owl-carousel .owl-nav button:hover {
    background: linear-gradient(to right, #f44e1b 0%, #f4881b 59.46%, #f4921b 100%);
    filter: drop-shadow(0px 3px 11px rgba(244, 146, 27, 0.68));
    border: 2px solid #fff !important;
}

.owl-carousel .owl-nav button.owl-prev {
    left: 0;
}

.owl-carousel .owl-nav button.owl-next {
    right: 0;
}

.owl-nav button.owl-prev span::before {
    content: '\f104';
    font-size: 35px;
    color: rgb(0, 0, 0, 0.8);
}

.owl-nav button.owl-next span::after {
    content: '\f105';
    font-size: 35px;
    color: rgb(0, 0, 0, 0.8);
}

.owl-carousel .owl-nav button:hover span::after {
    color: #fff;
}

.owl-carousel .owl-nav button:hover span::before {
    color: #fff;
}


/* footer */

footer {
    background: url(../images/footer-bg.png) top center no-repeat;
}

.form-block {
    background: #fff;
    filter: drop-shadow(5px 6px 16px rgba(0, 0, 0, 0.09));
    padding: 50px 50px 30px;
    border-radius: 18px;
    margin-top: 20px;
    margin-right: -30px;
}

.footer-form {
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
}

input[type="text"],
input[type="email"],
textarea {
    border: none;
    border-radius: 10px;
    color: #5e5e5e;
    padding: 15px 25px;
    width: 100%;
    margin-top: 18px;
    font-size: 18px;
    font-weight: normal;
    background: #f9f9f9;
}

input[type="submit"] {
    border: none;
}

textarea {
    height: 120px;
}

::placeholder {
    text-transform: uppercase;
    font-family: "Droid Sans";
    font-weight: normal;
    font-size: 18px;
    line-height: 1.7;
    color: #8a8a8a;
}

footer .my-btn {
    padding: 15px 40px;
}

footer .row {
    align-items: center;
    margin-bottom: 90px;
}

footer p {
    color: #fff;
}

.content-block {
    text-align: left;
    color: #fff;
    margin-top: 50px;
    margin-left: 60px;
}

.content-block i {
    font-size: 30px;
}

.footer-right-top p {
    font-weight: normal;
    font-size: 22px;
    line-height: 1.4;
    text-align: left;
    color: #fff;
    margin-bottom: 20px;
}

.footer-right-middle {
    display: flex;
}

.footer-right-middle ul {
    margin-right: 80px;
}

.footer-right-middle a {
    font-weight: normal;
    font-size: 18px;
    line-height: 1.6;
    text-align: center;
    color: #fff;
}

footer h5 {
    font-weight: bold;
    font-size: 20px;
    text-align: left;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 3px;
    margin-top: 8px;
}

.footer-right-bottom p {
    line-height: 1.8;
    font-weight: normal;
}

.footer-right-bottom i {
    font-size: 40px;
}

.footer-menu {
    border-top: 1px solid #fff;
    padding: 50px 0 35px;
}

.footer-menu ul {
    display: flex;
    justify-content: center;
}

.footer-menu ul li {
    padding-right: 35px;
}

.footer-menu ul li:last-child {
    padding-right: 0;
}

.footer-menu a {
    font-weight: normal;
    font-size: 16px;
    color: #fff;
    text-transform: uppercase;
    position: relative;
}

.footer-menu a::before {
    content: "";
    width: 0;
    height: 2px;
    background: transparent;
    position: absolute;
    bottom: -5px;
    transition: all 0.4s ease-in;
    -moz-transition: all 0.4s ease-in;
    -webkit-transition: all 0.4s ease-in;
}

.footer-menu a:hover::before {
    width: 100%;
    background: #fff;
    transition: all 0.4s ease-in;
    -moz-transition: all 0.4s ease-in;
    -webkit-transition: all 0.4s ease-in;
}

.footer-menu a::after {
    content: "";
    width: 0;
    height: 2px;
    right: 0;
    background: transparent;
    position: absolute;
    bottom: -5px;
    transition: all 0.4s ease-in;
    -moz-transition: all 0.4s ease-in;
    -webkit-transition: all 0.4s ease-in;
}

.footer-menu a:hover::after {
    width: 100%;
    background: #fff;
    transition: all 0.4s ease-in;
    -moz-transition: all 0.4s ease-in;
    -webkit-transition: all 0.4s ease-in;
}

.footer-copyright {
    padding: 15px 0;
    background: #57575a;
}

.footer-copyright p {
    font-family: "Droid Sans";
    font-weight: normal;
    font-size: 18px;
    line-height: 1.6;
    text-align: center;
    color: #fff;
}

.my-hover a {
    position: relative;
}

.my-hover a::before {
    content: "";
    width: 10px;
    height: 1.2px;
    background: transparent;
    position: absolute;
    bottom: 0px;
    transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -webkit-transition: all 0.3s ease-in;
}

.my-hover a:hover::before {
    width: 100%;
    background: var(--my-black);
    transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -webkit-transition: all 0.3s ease-in;
}

.my-hover-reverse a {
    position: relative;
}

.my-hover-reverse a::before {
    content: "";
    width: 100%;
    height: 1.2px;
    background: var(--my-black);
    position: absolute;
    bottom: 0px;
    transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -webkit-transition: all 0.3s ease-in;
}

.my-hover-reverse a:hover::before {
    width: 1px;
    background: transparent;
    transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -webkit-transition: all 0.3s ease-in;
}

.my-hover-reverse a::after {
    content: "";
    width: 100%;
    height: 1.2px;
    background: var(--my-black);
    position: absolute;
    right: 0px;
    bottom: 0px;
    transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -webkit-transition: all 0.3s ease-in;
}

.my-hover-reverse a:hover::after {
    width: 1px;
    background: transparent;
    transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -webkit-transition: all 0.3s ease-in;
}

.team-sec .more-btn a {
    display: inline-block;
    width: 90px;
}

.team-sec .more-btn a[aria-expanded="true"] {
    font-size: 0;
    width: 82px;

}

.team-sec .more-btn a[aria-expanded="true"]:before {
    content: "Read Less";
    font-size: 14px;
    display: block;
    width: 82px;
    background: #fff;
}

.team-sec .more-btn a[aria-expanded="true"]:after {
    margin-bottom: 1px;

}

@media (min-width: 992px) {
    .col-lg-5 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 41.666667%;
        flex: 0 0 41.666667%;
        max-width: 111.666667% !important;
    }
}